.topbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px 6px 20px;
  background-color: white;
  /* box-shadow: 0 2px 5px rgb(230, 230, 230); */
  position: fixed;
  width: 360px;
  top: 0;
  z-index: 995;
}

.topbar-container h1 {
  font-size: 18px;
  margin: 0;
}

.topbar-container svg {
  cursor: pointer;
}

.goback {
  border: none;
  background: none;
}

@media (max-width: 400px) {
  .topbar-container {
    width: calc(100% - 40px);
  }
}
