env
crawling/PRIVATE.py
crawling/__pycache__
crawling/gecko
backend/test/__pycache__/1.cpython-311.pyc
.DS_Store
api-test/__pycache__/3.cpython-311.pyc
api-test/__pycache__/basic_pipeline.cpython-311.pyc
.env
.vscode
api-test/__pycache__/google-login-api.cpython-311.pyc
