env
crawling/PRIVATE.py
crawling/__pycache__
crawling/gecko
backend/test/__pycache__/1.cpython-311.pyc
.DS_Store
api-test/__pycache__/3.cpython-311.pyc
api-test/__pycache__/basic_pipeline.cpython-311.pyc
.env
.vscode
api-test/__pycache__/google-login-api.cpython-311.pyc
api-test/3-integrate-pipeline-n-login/__pycache__/main.cpython-311.pyc
api-test/node/react-test/node_modules
api-test/4-update-user-info/__pycache__/cors-test.cpython-311.pyc
api-test/4-update-user-info/__pycache__/main.cpython-311.pyc
api-test/fast-api/__pycache__/main.cpython-311.pyc
api-test\fastAPI_chatbot\PRIVATE.py
api-test/fastAPI_chatbot/PRIVATE.py
api-test/fastAPI_chatbot/__pycache__/PRIVATE.cpython-311.pyc
api-test/fastAPI_chatbot/__pycache__/main.cpython-311.pyc
api-test/fastAPI_chatbot/__pycache__/langchain_utils.cpython-311.pyc
api-test/fastAPI_chatbot/__pycache__/main.cpython-311.pyc
api-test/server/kwu-lecture-database-v6-clear.db
