env
crawling/PRIVATE.py
crawling/gecko
.DS_Store
.env
.vscode
api-test\fastAPI_chatbot\PRIVATE.py
api-test/fastAPI_chatbot/PRIVATE.py
api-test/server/kwu-lecture-database-v6-clear.db
node_modules
data_preprocessing/pdf2md/PRIVATE.py
main/server/router/gecko/geckodriver
main/server/router/gecko/geckodriver-v0.34.0-linux64.tar.gz
__pycache__/
test-env/
ssh/
geckodriver
main/server/router/PRIVATE.py