.CircleList {
  margin-top: 41px;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  overflow-x: scroll;
  white-space: nowrap;
}

.CircleList::-webkit-scrollbar {
  display: none;
}

.CircleList {
  scrollbar-width: none;
}

.CircleList {
  -ms-overflow-style: none;
}

.CircleList .circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: linear-gradient(145deg, #ffffff, #fafafa);
  box-shadow: 3px 3px 8px #e6e6e6, -3px -3px 3px #ffffff78;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
  font-size: 14px;
  transition: 0.2s;
}

.CircleList button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.circle.active {
  transition: 0.2s;
  color: black;
  border-radius: 50%;
  background: #fff0a0;
  box-shadow: inset 5px 5px 12px #d6ca86, inset -5px -5px 12px #ffffba;
}

.when-loading {
  height: 151px;
}
