.gyoyang-search-box {
  margin: 0 10px;
  padding: 7px 5px 6px 5px;
  border: 1px solid #eee;
  border-radius: 10px;
  font-size: 14px;
  background-color: #fbfbfb;
}

.gyoyang-search-classification {
  display: flex;
  margin: 0 10px;
  justify-content: space-between;
  padding: 5px 0 12px 0;
}

.gyoyang-search-classification label {
  align-content: center;
}

.gyoyang-search-classification-select {
  height: 30px;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: 0 2px 5px rgb(230, 230, 230);
  border-radius: 5px;
  padding-left: 5px;
}

.gyoyang-search-conditions-bar {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 0 12px 0;
  margin: 0 10px;
}

.gyoyang-search-conditions-bar > div {
  margin-right: 10px;
}

.gyoyang-search-conditions-bar::-webkit-scrollbar {
  display: none;
}

.gyoyang-search-conditions-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gyoyang-search-conditions-credit {
  height: 30px;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: 0 2px 5px rgb(230, 230, 230);
  border-radius: 5px;
  padding-left: 5px;
}
.gyoyang-search-conditions-credit-select {
  height: 30px;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 5px;
}

.gyoyang-search-lecturename {
  height: 30px;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: 0 2px 5px rgb(230, 230, 230);
  border-radius: 5px;
  padding-left: 5px;
  width: 130px;
}

.gyoyang-search-user-can-time-button {
  height: 30px;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: 0 2px 5px rgb(230, 230, 230);
  border-radius: 5px;
  padding: 0 5px;
}
.gyoyang-search-button-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.gyoyang-search-button {
  height: 35px;
  border: none;
  outline: none;
  border-radius: 50px;
  background: linear-gradient(145deg, #fae88b, #ffffab);
  box-shadow: 0 2px 5px rgb(230, 230, 230);
  width: 80px;
  justify-self: end;
  cursor: pointer;
  margin: 0 5px 5px 0;
}
.gyoyang-search-button:active {
  border-radius: 45px;
  background: #fff0a0;
  box-shadow: inset 3px 3px 7px #e6d890, inset -3px -3px 7px #ffffb0;
}
