.lecturelist {
  border-radius: 10px;
  border: 1px solid #eee;
  background-color: #fbfbfb;
  margin: 5px 10px;
}
.lecturelist-no-lecture {
  padding: 10px;
  margin: 15px 10px;
}
.lecturelist-no-lecture-text {
  margin: 0;
}
.lecturelist-lecture {
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px 10px 12px 10px;
}
.lecturelist-lecNumber {
  margin: 0 5px 0 0;
}
.lecturelist-lecTheme {
  margin: 0 5px 0 0;
}

.lecture-list-star {
  margin: 0;
}

.lecturelist-amount {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.lecturelist-bar {
  display: flex;
  align-items: center;
  margin: 1px 0;
  width: 100%;
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  height: 8px;
}

.lecturelist-expanded {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}

.lecturelist-bar-fill {
  height: 7px;
  background-color: #4caf50;
  transition: width 0.3s ease;
  border-radius: 10px;
  height: 8px;
}

.lecturelist-buttons {
  display: flex;
  justify-content: space-between;
}

.lecture-list-button-getlecture {
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #fff0a0;
}

.lecture-list-button-godetail {
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 5px;
}

.lecturelist-lecture-moreinfo {
  margin: 0;
  font-size: 12px;
  color: rgb(230, 20, 20);
}
.lecturelist-samename-lectures {
  margin: 13px 0 15px 13px;
}
.lectureslist-samename-lectures-toggle {
  margin: 0;
}
.lecturelist-lecNameNstar-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lecturelist-lecName-box {
  display: flex;
  font-size: 14px;
}
.lecturelist-lecName {
  font-weight: bold;
  margin-right: 5px;
  margin: 0 5px 3px 0;
}
.lecturelist-lecProfessor {
  color: #333;
  margin: 0 0 3px 0;
}

.lecturelist-reviewSummary-text {
  font-size: 12px;
  color: #333;
  margin: 5px 0 9px 0;
}
.lecturelist-lec-detail {
  font-size: 12px;
  display: flex;
}
.lecturelist-lecClassification {
  margin: 0 0 3px 0;
}
.lecturelist-lecCredit {
  margin: 0 10px 3px 0;
}
.lecturelist-lecTime {
  margin: 0 5px 3px 0;
}
.lecturelist-lecClassroom {
  margin: 0 5px 3px 0;
}

.lecturelist-lecName-selected {
  font-weight: bold;
  margin-right: 5px;
  margin: 0 5px 3px 0;
  /* color: #898154; */
}

.lecturelist-lecture-check-box {
  display: flex;
  cursor: pointer;
}

.lecturelist-amount-infoNbar {
  display: flex;
  font-size: 10px;
  align-items: center;
}

.lecturelist-amount-info-text {
  margin: 0;
  white-space: nowrap;
  color: #999;
}
