.recommendation-search-box {
  margin: 0 10px;
  padding: 7px 5px 40px 5px;
  border: 1px solid #eee;
  border-radius: 10px;
  font-size: 14px;
  background-color: #fbfbfb;
}

.recommendation-search-button {
  height: 35px;
  border: none;
  outline: none;
  padding: 5px 10px;
  width: 80px;
  justify-self: end;
  float: inline-end;
  cursor: pointer;
  border-radius: 50px;
  background: linear-gradient(145deg, #fae88b, #ffffab);
  box-shadow: 0 2px 5px rgb(230, 230, 230);
}

.recommendation-text-area-box {
  width: 100%;
  margin-top: -2px;
  box-sizing: border-box;
}

.recommendation-text-area {
  width: 100%;
  height: 60px;
  border: none;
  border: solid 1px #eee;
  border-radius: 6px;
  margin: 0 1px 5px 0;
  box-sizing: border-box;
  resize: vertical;
  padding: 5px;
  outline: none;
  box-shadow: 0 1px 8px rgb(230, 230, 230);
}
.recommendation-search-button:active {
  border-radius: 45px;
  background: #fff0a0;
  box-shadow: inset 3px 3px 7px #e6d890, inset -3px -3px 7px #ffffb0;
}
.recommendation-search-button-disabled {
  cursor: not-allowed;
  box-shadow: none;
  background: linear-gradient(145deg, #eee, #ddd);
}
