/* figma 색 바탕으로 수정 */

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  margin: auto;
}

.logged-in,
.logged-out {
  width: 100%;
  text-align: center;
}

.logout-text,
.login-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.login-text-detail {
  color: #777;
  font-size: 14px;
}

.logout-button,
.login-button {
  padding: 10px 15px;
  color: #333;
  background-color: #fff0a0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-button:hover,
.login-button:hover {
  box-shadow: 1px 1px 7px #d6cd9a;
  transition: 0.3s;
}

.error-message {
  color: red;
  margin-top: 10px;
}
