.roomNtime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.roomNtime input {
  width: 100px r;
}

.yearNsemester {
  vertical-align: center;
  display: flex;
  flex-direction: row;
}

.manuallyAdd input[type="number"]::-webkit-inner-spin-button,
.manuallyAdd input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.manuallyAdd input[type="number"] {
  -moz-appearance: textfield;
}

.manuallyAdd-lecInfo {
  padding: 7px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgb(230, 230, 230);
  border-radius: 5px;
  margin: 3px;
  color: #777;
}

.manually-classroom {
  width: 100%;
  border: none;
  outline: none;
}
.manually-memo {
  width: 100%;
  border: none;
  outline: none;
}
.classroomNmemo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.manually-day {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.manually-startPeriod {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
  width: 100%;
  cursor: pointer;
  width: 50px;
  margin-top: 3px;
}
.manually-endPeriod {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
  width: 100%;
  cursor: pointer;
  width: 50px;
  float: right;
  margin-top: 3px;
}

.manually-credit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  cursor: pointer;
  margin-left: 5px;
}

.manually-classification {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  cursor: pointer;
  margin-left: 5px;
}

.manually-lecName {
  width: 100%;
  outline: none;
  border: none;
  font-size: 14px;
}

.manuallyCreditNclassification .manuallyAdd-lecInfo {
  height: 50%;
  align-items: center;
  display: flex;
}

.manually-addButton {
  margin-top: 5px;
  width: 80px;
  height: 40px;
  background-color: #fff0a0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.manually-addButton:hover {
  box-shadow: 1px 1px 3px rgb(200, 175, 150);
  transition: 0.3s;
}

.manuallyAdd-lecInfoBox {
  display: flex;
  flex-direction: column;
}

.manually-day {
}

.manually-period {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.manuallyCreditNclassification {
  display: flex;
  flex-direction: column;
  width: 100%;
}
