.showCheckedLectureCredit {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  justify-content: space-evenly;
  height: 30px;
  align-items: center;
  box-shadow: 0 2px 5px rgb(230, 230, 230);

  border-radius: 30px;
}

.showCheckedLectureCredit p {
  margin: 0;
}
