.userinfo-update-box {
  margin-top: 41px;
  margin: 50px 10px 0 10px;

  border: 1px solid rgb(230, 230, 230);
  border-radius: 9px;
  background-color: rgb(253, 253, 253);
  padding: 13px 15px;
}
.userinfo-edit-form {
  margin-top: 15px;
}
.userinfo-box-box {
  display: flex;
  justify-content: space-between;
}

.userinfo-edit-button-box {
  align-items: center;
  display: flex;
}
.userinfo-edit-button {
  width: 25px;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.userinfo-edit-button-img {
  width: 20px;
}
.userinfo-username {
  font-size: 16px;
  margin: 0;
  color: #333;
}
.userinfo-detail-box {
  display: flex;
  font-size: 12px;
}

.userinfo-hakBun {
  color: #777;
  margin: 3px 3px 0 0;
}
.userinfo-userMajor {
  color: #777;
  margin: 0;
}
.userinfo-userbunBan {
  color: #777;
  margin: 0 3px 0 0;
}
.userinfo-userYear {
  color: #777;
  margin: 0 3px 0 0;
}
.userinfo-whatMultipleMajor {
  color: #777;
  margin: 0 3px 0 0;
}
.userinfo-whatMultipleMajorDepartment {
  color: #777;
  margin: 0 3px 0 0;
}
.userinfo-edit-input-box {
  padding: 0 0 0 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgb(230, 230, 230);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.userinfo-edit-input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  padding: 12px 0;
  font-size: 14px;
  -moz-appearance: textfield;
  width: 100%;
}

.userinfo-edit-input::-webkit-inner-spin-button,
.userinfo-edit-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.userinfo-edit-input-text {
  margin: 0 5px 0 0;
  font-size: 14px;
  white-space: nowrap;
}

.userinfo-row-box {
  display: flex;
  justify-content: space-between;
  margin: 6px;
}

.userinfo-hakbun {
  flex: 1;
}

.userinfo-major {
  flex: 7;
  margin-right: 5px;
}
.userinfo-bunban {
  flex: 3;
  margin-right: 5px;
}
.userinfo-year {
  flex: 2;
}
.userinfo-year-text {
  margin-right: 10px;
}
.userinfo-isForeign {
  margin-right: 5px;
  padding-left: 3px;
}
.userinfo-username {
  margin-right: 5px;
}
.userinfo-isMultipleMajor {
  padding-left: 3px;
}
.userinfo-select-multiplemajor {
  background-color: white;
  box-shadow: 0 2px 5px rgb(230, 230, 230);
  border: none;
  outline: none;
  padding: 12px 7px;
  border-radius: 5px;
  margin: 0 5px 0 0;
}
.userinfo-update-button {
  padding: 7px 10px;
  background-color: #fff0a0;
  border: none;
  outline: none;
  border-radius: 5px;
  float: right;
}
.userinfo-row-box-space-between {
  justify-content: space-between;
  display: flex;
  margin-top: 15px;
  margin-bottom: 0;
}
.userinfo-check-text {
  margin: 0;
  color: rgb(250, 100, 10);
  font-size: 14px;
}
