.mypage-user-already-taken-lectures {
  margin: 10px;
}
.update-taken-lec-img-upload-btn {
  display: none;
}
.update-taken-lec-img-upload-btn-box {
  background-color: #fff0a0;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 12px;
  box-shadow: 0 1px 3px #9e9460;
  float: right;
}
.update-taken-lec-add-btn-box {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 12px;
  box-shadow: 0 1px 3px #9e9460;
  float: right;
  margin: 0 5px 0 0;
  border: none;
  outline: none;
}
.update-taken-lec-upload-btn-line {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 30px 10px;
}
.taken-lec-progress-bar {
  flex: 3;
}
.mypage-taken-lec-year-semester {
  margin: 20px 0 0 5px;
}

.mypage-taken-lec {
  background-color: white;
  box-shadow: 0 2px 5px rgb(240, 240, 240);
  margin: 5px 0;
  display: flex;
  width: 100%;
  border-radius: 35px;
  flex-direction: row;
}
.mypage-taken-lec-name {
  border: none;
  outline: none;
  padding: 8px 10px;
  border-radius: 30px;
  width: 45%;
}
.mypage-taken-lec-classification {
  border: none;
  outline: none;
  background-color: #f3f3f3;
  padding: 3px 0 3px 7px;
  width: 15%;
  margin: 3px 3px 3px 0;
  border-radius: 30px;
}
.mypage-taken-lec-credit {
  border: none;
  outline: none;
  background-color: #f3f3f3;
  padding: 3px 0 3px 7px;
  width: 12%;
  margin: 3px 3px 3px 0;
  border-radius: 30px;
}
.mypage-taken-lec-userCredit {
  border: none;
  outline: none;
  background-color: #f3f3f3;
  padding: 3px 0 3px 7px;
  width: 15%;
  margin: 3px 3px 3px 0;
  border-radius: 30px;
}
.mypage-taken-lec-delete-button {
  border: none;
  outline: none;
  background-color: #f3f3f3;
  padding: 3px 4px;
  width: 13%;
  margin: 3px 3px 3px 0;
  border-radius: 30px;
}
