.FilterBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 12px 0;
  margin: 0 10px;
}

.FilterBar input[type="number"]::-webkit-inner-spin-button,
.FilterBar input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.FilterBar input[type="number"] {
  -moz-appearance: textfield;
}

.FilterBar input[type="number"] {
  width: 20px;
  height: 25px;
  font-size: 16px;
  text-align: center;
  border: none;
  outline: none;
}
.year {
  width: 60px;
  font-size: 16px;
  text-align: center;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(230, 230, 230);
  background-color: white;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  cursor: text;
}

.semester {
  width: 80px;
  height: 30px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(230, 230, 230);
  border: none;
  font-size: 14px;
  padding-left: 7px;
  cursor: pointer;
}

.priority {
  width: 60px;
  height: 30px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(230, 230, 230);
  border: none;
  font-size: 14px;
  padding-left: 7px;
  cursor: pointer;
}

.manuallyAddbutton {
  width: 70px;
  height: 30px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(230, 230, 230);
  border: none;
  font-size: 14px;
  padding-left: 7px;
  cursor: pointer;
  white-space: nowrap;
}

.manually {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
